<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!--
    Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
    Debug - debugging information, less detailed than trace, typically not enabled in production environment.
    Info - information messages, which are normally enabled in production environment
    Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
    Error - error messages - most of the time these are Exceptions
    Fatal - very serious errors!
    -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- archive File 1024 = 1Kb __ layout ${logger}  => show the class-->
      <target xsi:type="File" name="FileLog" layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} | ${level:uppercase=true} |  ${message}" fileName="C:\Logging\${date:format=yyyy-MMM}\${date:format=dd-MMM-yyy}\LogFile_${shortdate}.log" archiveFileName="C:\Logging\${shortdate}\LogFile${shortdate}.{###}.log" archiveNumbering="Rolling" archiveAboveSize="1024000" concurrentWrites="true" />
      <target xsi:type="File" name="ChangeStatusLog" layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} | ${level:uppercase=true} |  ${message}" fileName="C:\Logging\${date:format=yyyy-MMM}\${date:format=dd-MMM-yyy}\ChangeStatus${shortdate}.log" archiveFileName="C:\Logging\${shortdate}\ChangeStatus${shortdate}.{###}.log" archiveNumbering="Rolling" archiveAboveSize="1024000" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="FileLog" />
      <logger name="ChangeStatusLog" minlevel="Trace" writeTo="ChangeStatusLog" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="CRMDb" connectionString="Data Source=10.6.82.148;Initial Catalog=BCA_MSCRM;Persist Security Info=True;User ID=sa;Password=bcabca;" providerName="System.Data.SqlClient" />
    <add name="HistDb" connectionString="Data Source=10.6.82.124;Initial Catalog=hist_tran;Persist Security Info=True;User ID=sa;Password=bcabca;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- For Letter Template -->
    <add key="pathLetterTemplate" value="C:\BCA\LetterTemplate\" />
    <add key="typeCodeLetterTemplate" value="10033" />
    <add key="subjectLetterTemplate" value="File Attachment" />
    <!-- For Letter Entry -->
    <add key="typeCodeLetterEntry" value="10029" />
    <add key="subjectLetterEntry" value="Attachment" />
    <add key="noteLetterEntry" value="This letter is generated by system" />
    <add key="lineNum" value="No." />
    <add key="tanggal_ID" value="Tanggal Trn" />
    <add key="jam_ID" value="Jam Trn" />
    <add key="terminal_ID" value="Terminal" />
    <add key="lokasi_ID" value="Lokasi" />
    <add key="nominal_ID" value="Nominal (Rp)" />
    <add key="nominal_EN" value="Amount (IDR)" />
    <add key="tunai_ID" value="Tunai (Rp)" />
    <add key="keterangan_ID" value="Keterangan" />
    <add key="keterangan_EN" value="Response" />
    <add key="lokasiTrx_ID" value="Lokasi Transaksi" />
    <add key="lokasiTrx_EN" value="Transaction Location" />
    <add key="tipeTrx_ID" value="Jenis Transaksi" />
    <add key="tipeTrx_EN" value="Transaction Type" />
    <add key="dateTrx_ID" value="Tanggal/Jam Transaksi" />
    <add key="dateTrx_EN" value="Transaction Date" />
    <add key="dateTimeTrx_ID" value="Tgl/Jam Trn (WIB)" />
    <add key="perihal_ID" value="Perihal : Lampiran Surat" />
    <add key="perihal_EN" value="Subject : Enclosed Of Letter" />
    <add key="noteCirrus_EN" value="Note : Transaction in Cirrus/Maestro network, the spreed time has been estimated +/- 7 hours From West Indonesian Time (WIB)" />
    <add key="noteCirrus_ID" value="Note : Untuk transaksi Cirrus/ Maestro selisih waktu telah dihitung +/- 7 jam perhitungan waktu menurut Indonesia Bagian Barat (WIB)" />
    <add key="branchNameHALO_EN" value="CC : Head BCA of {0} Branch" />
    <add key="branchNameHALO_ID" value="CC : Yth Pimpinan BCA {0}" />
    <add key="branchNameSPC_ID" value="CC : Yth CSO BCA Cabang {0}" />
    <add key="transaksiDebit_ID" value="Transaksi Debit" />
    <add key="cirrusReversal" value="Reversal" />
    <!-- ******************************************************************************************************************************************* -->
    <!-- ****************************************************************** WSDL ******************************************************************* -->
    <!-- ******************************************************** DEV / UAT / PILOT / PROD ********************************************************* -->
    <!-- ******************************************************************************************************************************************* -->
    <add key="EndPointClientID" value="D94C0CFB84DA44C1E0440021281A565E"/>
    <!-- **************************************************************** EAI WSA ****************************************************************** -->
    <add key="IPEAIPROD" value="http://10.0.50.55:9301"/>
    <add key="IPEAIPILOT" value="http://10.0.50.220:30003"/>
    <!-- **************************************************************** EAI MBCA ***************************************************************** -->
    <!-- <add key="IPEAIPROD" value="http://10.16.50.55:9301"/> -->
    <!-- <add key="IPEAIPILOT" value="http://10.16.50.220:30003"/> -->
    <!-- **************************************************************** UAT & DEV **************************************************************** -->
    <add key="IPEAIUAT" value="http://10.20.200.142:9301"/>
    <add key="IPEAIDEV" value="http://10.20.200.140:9403"/>
    <!-- ******************************************************************************************************************************************* -->
    <!-- BBP Prioritas -->
    <add key="EndPointUrlBBPPrioritas" value="http://10.6.82.147:8080/BBP_Prio/" />

    <!-- Customer -->
    <add key="EndPointUrlCustomerInformationInquiry" value="PROD/CustomerInformationInquiry/CustomerInformationInquiryPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlCustomerChannelListInquiry" value="PROD/CustomerChannelListInquiry/CustomerChannelListInquiryPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlCustomerProductListInquiry" value="PROD/CustomerProductListInquiry/CustomerProductListInquiryPortTypeBndPort?WSDL" />
    <!-- Customer Product and Channel V2 -->
    <add key="EndPointUrlCustomerProductListInquiryV2" value="PROD/CustomerProductListInquiry_v2.0/CustomerProductListInquiryPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCustomerChannelListInquiryV2" value="PROD/CustomerChannelListInquiry_v2.0/CustomerChannelListInquiryPortTypeBndPort?WSDL" />
    <!-- IB -->
    <add key="EndPointUrlUserInternetBankingManagement" value="PROD/UserInternetBankingManagement/UserInternetBankingManagementPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlLoginIBIStatusUpdate" value="PROD/LoginIBIStatusUpdate/LoginIBIStatusUpdatePortTypeBndPort?WSDL" />
    <add key="EndPointUrlUserIBIStatusUpdate" value="PROD/UserIBIStatusUpdate/UserIBIStatusUpdatePortTypeBndPort?WSDL" />
    <!-- MB -->
    <add key="EndPointUrlUserMobileBankingManagement" value="PROD/UserMobileBankingManagement/UserMobileBankingManagementPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlUserMBStatusUpdate" value="PROD/UserMBStatusUpdate/UserMBStatusUpdatePortTypeBndPort?WSDL" />
    <add key="EndPointUrlUserSMSBankingStatusUpdate" value="PROD/UserSMSBankingStatusUpdate/UserSMSBankingStatusUpdatePortTypeBndPort?WSDL" />
    <add key="EndPointUrlUserSMSTopUpStatusUpdate" value="PROD/UserSMSTopUpStatusUpdate/UserSMSTopUpStatusUpdatePortTypeBndPort?WSDL" />
    <!-- PB -->
    <add key="EndPointUrlUserPhoneBankingInquiry" value="PROD/UserPhoneBankingInquiry/UserPhoneBankingInquiryPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlUserPhoneBankingManagement" value="PROD/UserPhoneBankingManagement/UserPhoneBankingManagementPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlRemoteBankingInquiryTransaction" value="PROD/RemoteBankingInquiryTransaction/RemoteBankingInquiryTransactionPortTypeBndPort?WSDL" />
    <add key="EndPointUrlPhoneBankingCustomerCategory" value="PROD/PhoneBankingCustomerCategory/PhoneBankingCustomerCategoryPortTypeBndPort?WSDL" />
    <add key="EndPointUrlUserPhoneBankingStatusUpdate" value="PROD/UserPhoneBankingStatusUpdate/UserPhoneBankingStatusUpdatePortTypeBndPort?WSDL" />
    <add key="EndPointUrlPaymentWS" value="PROD/PaymentWS/executePaymentBndPort?WSDL" />
    <add key="EndPointUrlTransferBCA" value="PROD/TransferBCA/FundTransferBCAPortTypeBndPort?WSDL" />
    <!-- Token -->
    <add key="EndPointUrlTokenAuthentication" value="PROD/TokenAuthentication/TokenAuthenticationPortTypeBndPort?WSDL" />
    <add key="EndPointUrlTokenResynch" value="PROD/TokenResynch/TokenResynchPortTypeBndPort?WSDL" />
    <add key="EndPointUrlTokenSMEUpdateStatus" value="PROD/TokenSMEUpdateStatus/TokenSMEUpdateStatusPortTypeBndPort?WSDL" />
    <add key="EndPointUrlTokenUnlock" value="PROD/TokenUnlock/TokenUnlockPortTypeBndPort?WSDL" />
    <add key="EndPointUrlTokenUpdateStatus" value="PROD/TokenUpdateStatus/TokenUpdateStatusPortTypeBndPort?WSDL" />
    <!-- SME -->
    <add key="EndPointUrlLoginSMEStatusUpdate" value="PROD/LoginSMEStatusUpdate/LoginSMEStatusUpdatePortTypeBndPort?WSDL" />
    <!-- Other -->
    <add key="EndPointUrlESBDBDelimiter" value="PROD/ESBDBDelimiter/ESBDBDelimiterPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlCallStoreProcedure" value="PROD/CallStoreProcedure/CallStoreProcedureBndPort?WSDL"/>
    <!-- ******************************************************************************************************************************************* -->
    <!-- *************************************************************** PRODUCT ******************************************************************* -->
    <!-- ******************************************************************************************************************************************* -->
    <!-- Account -->
    <add key="EndPointUrlAccountDetail" value="PROD/AccountDetail/AccountDetailPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlAccountStatementByDate" value="PROD/AccountStatementByDate/AccountStatementByDatePortTypeBndPort?WSDL"/>
    <add key="EndPointUrlAccountTypeInquiry" value="PROD/AccountTypeInquiry/AccountTypeInquiryPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlDepositAccountAndCardDetail" value="PROD/DepositAccountAndCardDetail/DepositAccountAndCardDetailPortTypeBndPort?WSDL" />
    <!-- BBP -->
    <add key="EndPointUrlAccountList" value="PROD/AccountList/AccountListPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlBalanceInquiry" value="PROD/BalanceInquiry/BalanceInquiryPortTypeBndPort?WSDL"/>
    <add key="EndPointUrlBillPresentment" value="PROD/BillPresentmentWS/executeBillPresentmentBndPort?WSDL"/>
    <!-- Card -->
    <add key="EndPointUrlCardManagement" value="PROD/CardManagement/CardManagementPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCardRewards" value="PROD/CardRewards/CardRewardsPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCardStatusUpdate" value="PROD/CardStatusUpdate/CardStatusUpdatePortTypeBndPort?WSDL" />
    <!-- CC -->
    <add key="EndPointUrlCCAddressDetail" value="PROD/CCAddressDetail/CCAddressDetailPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCAllRelatedDetails" value="PROD/CCAllRelatedDetails/CCAllRelatedDetailsPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCBalanceStatementSummary" value="PROD/CCBalanceStatementSummary/CCBalanceStatementSummaryPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCBillingStatementByStatementDate" value="PROD/CCBillingStatementByStatementDate/CCBillingStatementByStatementDatePortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCInformationDetail" value="PROD/CCInformationDetail/CCInformationDetailPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCInquiryTransactionDetail" value="PROD/CCInquiryTransactionDetail/CCInquiryTransactionDetailPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCInquiryUnsettleTransaction" value="PROD/CCInquiryUnsettleTransaction/CCInquiryUnsettleTransactionPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCListAutoPayment" value="PROD/CCListAutoPayment/CCListAutoPaymentPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCMerchantInformation" value="PROD/CCMerchantInformation/CCMerchantInformationPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCCStatementDateHistory" value="PROD/CCStatementDateHistory/CCStatementDateHistoryPortTypeBndPort?WSDL" />
    <!-- Loan -->
    <add key="EndPointUrlLoanCommitmentManagement" value="PROD/LoanCommitmentManagement/LoanCommitmentManagementPortTypeBndPort?WSDL" />
    <add key="EndPointUrlLoanInfoDetail" value="PROD/LoanInfoDetail_direct/LoanInfoDetailPortTypeBndPort?WSDL" />
    <add key="EndPointUrlLoanInfoDetailV2" value="PROD/LoanInfoDetail_direct_Versi2.0/LoanInfoDetailPortTypeBndPort?WSDL" />
    <!-- Merchant -->
    <add key="EndPointUrlPOSManagement" value="PROD/POSManagement/POSManagementPortTypeBndPort?WSDL" />
    <!-- MDM -->
    <add key="EndPointClientIDMDM" value="1EBFADA1A026E202E0540021282850A9"/>
    <add key="EndPointUrlCISCustomerDataInquiry" value="PROD/CISCustomerDataInquiry_v2.2/CISCustomerDataInquiryPortTypeBndPort?WSDL" />
    <!-- CRM General Function -->
    <add key="EndPointUrlCRMGeneralFunction" value="PROD/CRMGeneralFunction/CRMGeneralFunctionPortTypeBndPort?WSDL" />
    <!-- Business Debit Card -->
    <add key="EndPointUrlCallStoreProcedureDelimiter" value="PROD/CallStoreProcedureDelimiter/CallStoreProcedureDelimiterPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCorporateCardInquiry" value="PROD/CorporateCardInquiry/CorporateCardInquiryPortTypeBndPort?WSDL" />
    <add key="EndPointUrlCorporateCardBlock" value="PROD/CorporateCardBlock/CorporateCardBlockPortTypeBndPort?WSDL" />
    <!-- ******************************************************************************************************************************************* -->
    <!-- ******************************************************************************************************************************************* -->
    <!-- **************************************************** Settings Timeout & Properties **************************************************** -->
    <!-- ******************************************************************************************************************************************* -->
    <add key="MaxBufferSize" value="5000000" />
    <add key="MaxReceivedMessageSize" value="5000000" />
    <add key="ReaderQuotasMaxArrayLength" value="5000000" />
    <!-- The OpenTimeout value for the Binding. The value specified is in minutes. -->
    <add key="OpenTimeout" value="10" />
    <!-- The CloseTimeout value for the Binding. The value specified is in minutes. -->
    <add key="CloseTimeout" value="10" />
    <!-- The SendTimeout value for the Binding. The value specified is in minutes. -->
    <add key="SendTimeout" value="10" />
    <!-- The ReceiveTimeout value for the Binding. The value specified is in minutes. -->
    <add key="ReceiveTimeout" value="10" />
    <!-- The OperationTimeout value for the Service Operation. The value specified is in minutes. -->
    <add key="OperationTimeout" value="30" />
    <!-- ******************************************************************************************************************************************* -->
    <!-- ******************************************************************************************************************************************* -->
    <!-- User Development -->
    <!-- add key="DomainName_dev" value="dtidomain" /-->
    <!-- add key="FullDomainName_dev" value="dti.co.id" /-->
    <!-- add key="ContainerDomainName_dev" value="DC=dti,DC=co,DC=id" /-->
    <!-- User Production -->
    <add key="DomainName" value="bcadomain" />
    <add key="FullDomainName" value="intra.bca.co.id" />
    <add key="ContainerDomainName" value="DC=intra,DC=bca,DC=co,DC=id" />
    <!-- Is Production : Yes for Production, No for UAT and Dev #capitalize -->
    <add key="IsProduction" value="Yes"/>
    <!-- ******************************************************************************************************************************************* -->
    <!-- Logout -->
    <add key="pushLogout" value="120" />
    <!-- NonCustomer -->
    <add key="DummyCustomerID" value="EDB8F8AC-0102-4EC5-85E1-76D3654FC657" />
    <!--Popup Customer Flag-->
    <add key="PopUpCustomer" value="On" />
    <!--Active Home Page-->
    <add key="homePage" value="Request" />
    <!--Threshold in Product List-->
    <add key="GridMaxRows" value="50" />
    <!--Valid CC Type is below 60-->
    <add key="MaxValidCCType" value="60" />
    <!--Popup Counter-->
    <add key="RecordStaticCount" value="100"/>
    <!--Popup Counter-->
    <add key="TreeviewStaticCount" value="10"/>
    <!--By Pass Login-->
    <!-- Is By Pass Login : yes for UAT and DEV, no for Production #lowercase-->
    <add key="IsByPassLogin" value="no"/>
    <!--Timeout Broadcast-->
    <add key="TOBroadcast" value="60000"/>

    <!--Report param-->
    <add key="ReportServer" value="http://10.6.87.21:15083/Report/Reports.aspx?rdl=" />
    <add key="ReportFolder" value="/BCACRM/" />
    <add key="LimitRangeDate" value="90" />
    <add key="LimitRangeDateSA" value="7" />
    <add key="RdlNameSA" value="Aktivitas_SA" />
    <add key="FilterDateException" value="StartDate;EndDate;CreatedOn;StartCreatedOn;EndCreatedOn;StartDueDate;EndDueDate;StartActualEnd;EndActualEnd;StartClosedOn;EndClosedOn" />
    <add key="AcceptMasterFilter" value="StartDate;EndDate;CreatedOn;StartCreatedOn;EndCreatedOn;StartDueDate;EndDueDate;StartActualEnd;EndActualEnd;StartClosedOn;EndClosedOn;Branch;BusinessUnit;Category;CreatedBy;IsDisabledStatus;Owner;PerformedByNames;Product;SecurityRole;StateCode;StatusCode;Workgroup;" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="8192" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" />
    </authentication>
    <sessionState mode="InProc" timeout="121" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly">
      <error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/Error" statusCode="500" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <staticContent>
      <!--<clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />-->
      <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00"/>-->

      <remove fileExtension=".htc" />
      <mimeMap fileExtension=".htc" mimeType="text/x-component" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>