@model CCARE.Models.MasterData.NonCustomer

@{
    ViewBag.Title = "Call Wrap Up";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 panel panel-default panel_form_parent">
            <br />
            <div class="col-sm-12">
                <div class="row form_text">
                    <div class="panel panel-default panel_form_child">
                        <div class="panel-heading">
                            <label class="control-label sv-header"><strong>Call Wrap Up</strong></label>
                        </div>
                        <br />
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="divGrid">
                                            <table id="gridCallWrapUpNonCustomer"></table>
                                            <div id="jqGridPager"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var gridId = "#gridCallWrapUpNonCustomer";
    var entityname = "CallWrapUp";

    $(document).ready(function () {
        var customerName = set(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.FullName)));

        (event.preventDefault) ? event.preventDefault() : event.returnValue = false;
        var postData = {
            _param: function () { return 'searchNonCustomer'; },
            _val: function () { return customerName; }
        };

        loadJqgrid(gridId, postData, entityname);

    });

</script>
